.progressbar{
    margin-top: 150px;
    margin-left: 100px;
}

.Default{
    position: absolute;
    width: 300px;
    background-color: grey;
    border-radius: 20px;
    -webkit-text-fill-color: gray;
}
.stage1{
    position: absolute;
    background-color: rgb(237, 33, 33);
    width: 99px;
    border-radius: 20px;
    -webkit-text-fill-color: rgb(237, 33, 33);
}
.stage2{
    position: absolute;
    background-color: rgb(237, 233, 33);
    width: 201px;
    border-radius: 20px;
    -webkit-text-fill-color: rgb(237, 233, 33);
}

.stage3{
    position: absolute;
    background-color: rgb(47, 237, 33);
    width: 300px;
    border-radius: 20px;
    -webkit-text-fill-color: rgb(47, 237, 33);
}
